body {
	font-family: 'Georgia';
	color: rgb(150, 150, 150);
}

.navbar-default {
	border-style: none;
	background-color: white;	
}

.navbar div.container {
	border-top: 3px solid #a7c353;
}

.navbar div.navbar-collapse {
	border-bottom: 1px solid #a7c353;
}

.navbar-brand {
	font-size: 26px;
	text-transform: uppercase;
	padding-top: 30px;
	height: 100px;	
}

.navbar-nav {
	font-size: 13px;
	text-transform: uppercase;	
}

.navbar-nav li a {
	padding-top: 55px;
	height: 100px;
}

.navbar-nav li:hover {
	background-color: #a7c353;	
}

.navbar-default .navbar-nav > li:hover > a {
	color: white;
}

.quotation p {
	font-size: 22px;
	font-style: italic;
	text-align: center;
	padding: 30px 0px 40px 0px;
}

.carousel-inner div img {	
  	min-width: 100%; 
}

.carousel-control {	
	opacity: 1.0;
	width: 6%;	
	top: 50%;
}

.carousel-control.left, .carousel-control.right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, transparent 100%);
}

